{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
      },
    ],
    "add-module-exports",
    "transform-xregexp",
    "array-includes"
  ],
  "presets": [
    [
      "@babel/env", {
        "exclude": [
          "transform-literals",
          "transform-sticky-regex"
        ]
      }
    ]
  ]
}
