{
  "plugins": [
    "transform-xregexp",
    "array-includes"
  ],
  "presets": [
    [
      "@babel/env", {
        "exclude": [
          "transform-literals",
          "transform-sticky-regex"
        ]
      }
    ]
  ]
}
